.background-img {
  background-image: linear-gradient(
    to bottom,
    rgba(245, 246, 252, 0.52),
    rgba(3, 3, 3, 0.73)
  );
  height: 366px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.img img {
  height: 100px;
  width: 200px;
}
.right img {
  height: 257px;
  width: 442px;
}
.team-info {
  background: #41295a; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #2f0743,
    #41295a
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #2f0743,
    #41295a
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-radius: 10px;
  padding: 10px;
  color: white;
}
.team-header {
  background: #f4c4f3; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #fc67fa,
    #f4c4f3
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: #ff7e5f; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #feb47b,
    #ff7e5f
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #feb47b,
    #ff7e5f
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
* {
  margin: 0px;
  padding: 0px;
}
